<!-- <div>
  <div align="center">
    <button class="btn btn-success" (click)="Choice(1)">All Videos</button>&nbsp;&nbsp;
    <button class="btn btn-danger" (click)="Choice(2)">Favourites</button>&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="Choice(3)">Recommended</button>&nbsp;&nbsp;
  </div>
  <br><br>
</div> -->

<Div>
<div style="background-color: black">
<div align="center" *ngIf="playFlag">
  <video [src]="currentVideo" controls   height="400px" width="700px"></video>
 </div>
 
  <!-- <input type="text" placeholder="search by category" [(ngModel)]="videoFilter"> -->
 
<div> -->
  <table class="table" style="background-color: snow"> 
    <thead class="thead-dark">
      <th>Id</th>
      <th>Name </th>
      <th>Category</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let v of videos " >
        <td>{{v.id}}</td>
        <td>{{v.name|titlecase }}</td>
        <td>{{v.category}}</td>
        <td><button class="btn btn-info"(click)="Play(v)">Play</button></td>
        <td><button class="btn btn-danger"(click)="AddToFavourite(v)">Add To favourites</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</Div>

