<!-- <div>
  <div align="center">
    <button class="btn btn-success" (click)="Choice(1)">All Videos</button>&nbsp;&nbsp;
    <button class="btn btn-danger" (click)="Choice(2)">Favourites</button>&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="Choice(3)">Recommended</button>&nbsp;&nbsp;
  </div>
  <br><br>
</div> -->
<head id="Head1" runat="server">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<script>
  var app=angular.module("dropdown",[]);
  app.controller("MyController",function($scope){
    $scope.change= function(){
    alert("Category Name : "+$scope.selectedCategory.category);
  }
  })
  
</script>
<Div>
<div style="background-color: black">
<div align="center" *ngIf="playFlag">
  <video [src]="currentVideo" controls   height="400px" width="700px"></video>
 </div>
 
  <!-- <input type="text" placeholder="search by category" [(ngModel)]="videoFilter"> -->
 
  <div ng-app="dropdown" ng-controller="MyController" align="center">
    <select ng-model="selectedCategory" ng-change="change()" >
      <option value="0" label="select"></option>
      <option *ngFor="let cat of videos" value="{{cat.category}}">{{cat.category}}</option>
    </select>
    <h2 style="color: darkseagreen">{{selectedCategory}}</h2>
  </div>
  
<div> -->
  <table class="table" style="background-color: snow"> 
    <thead class="thead-dark">
      <th>Id</th>
      <th>Name </th>
      <th>Category</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let v of videos " >
        <td>{{v.id}}</td>
        <td>{{v.name|titlecase }}</td>
        <td>{{v.category}}</td>
        <td><button class="btn btn-info"(click)="Play(v)">Play</button></td>
        <td><button class="btn btn-danger"(click)="AddToFavourite(v)">Add To favourites</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</Div>

