 <h2  class="jumbptron btn-info" align="center">Home </h2>
      <div>
        <div align="center">
          <button class="btn btn-success" routerLink="AllVideos">All Videos</button>&nbsp;&nbsp;
          <button class="btn btn-danger"  routerLink="Favourite">Favourites</button>&nbsp;&nbsp;
          <button class="btn btn-primary" routerLink="Recommended">Recommended</button>&nbsp;&nbsp;
        </div>
        <br><br>
      </div>

      <router-outlet></router-outlet>
 <!-- <app-media *ngIf="allVideosFlag"></app-media>
 <app-favourite *ngIf="favouritesFlag"></app-favourite>
 <app-recommended *ngIf="recommendedFlag"></app-recommended> -->
